/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@import "variables";

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    margin: 0;
}
body {
    font-family: var(--mio-theme-body-l-font-family);
    font-size: var(--mio-theme-body-l-font-size);
    font-weight: var(--mio-theme-body-l-font-weight);
    line-height: var(--mio-theme-body-l-line-height);
    color: var(--mio-theme-color-on-background);
}
h2,
h4,
h5,
h6 {
    margin: 32px 0;
}
h1 {
    font-family: var(--mio-theme-display-xxl-font-family);
    font-size: var(--mio-theme-display-xxl-font-size);
    font-weight: var(--mio-theme-display-xxl-font-weight);
    line-height: var(--mio-theme-display-xxl-line-height);
    margin: 0;
}
h2 {
    font-family: var(--mio-theme-display-xl-font-family);
    font-size: var(--mio-theme-display-xl-font-size);
    font-weight: var(--mio-theme-display-xl-font-weight);
    line-height: var(--mio-theme-display-xl-line-height);
}
h3 {
    font-family: var(--mio-theme-display-l-font-family);
    font-size: var(--mio-theme-display-l-font-size);
    font-weight: var(--mio-theme-display-l-font-weight);
    line-height: var(--mio-theme-display-l-line-height);
    margin: 16px 0;
}
h4 {
    font-family: var(--mio-theme-display-m-font-family);
    font-size: var(--mio-theme-display-m-font-size);
    font-weight: var(--mio-theme-display-m-font-weight);
    line-height: var(--mio-theme-display-m-line-height);
}
h5 {
    font-family: var(--mio-theme-title-l-font-family);
    font-size: var(--mio-theme-title-l-font-size);
    font-weight: var(--mio-theme-title-l-font-weight);
    line-height: var(--mio-theme-title-l-line-height);
}
h6 {
    font-family: var(--mio-theme-title-m-font-family);
    font-size: var(--mio-theme-title-m-font-size);
    font-weight: var(--mio-theme-title-m-font-weight);
    line-height: var(--mio-theme-title-m-line-height);
}
b,
strong {
    font-weight: 500;
}
a {
    font-family: var(--mio-theme-title-m-font-family);
    font-size: var(--mio-theme-title-m-font-size);
    font-weight: var(--mio-theme-title-m-font-weight);
    line-height: var(--mio-theme-title-m-line-height);
    border-radius: 4px;
    color: var(--mio-theme-color-primary);
    text-decoration: underline;
}
a:hover {
    color: var(--mio-theme-color-on-primary-container);
}
a:focus {
    outline: 0;
    box-shadow: 0 0 0 1px var(--mio-theme-color-primary);
}
a:hover:focus {
    outline: 0;
    color: var(--mio-theme-color-on-primary-container);
    box-shadow: 0 0 0 1px var(--mio-theme-color-on-primary-container);
}
p {
    -webkit-margin-before: 1em;
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
}
code {
    font-family: var(--mio-theme-code-font-family);
    font-size: var(--mio-theme-code-font-size);
    font-weight: var(--mio-theme-code-font-weight);
    line-height: var(--mio-theme-code-line-height);
    padding: 0 2px;
    border-radius: 2px;
    background: var(--mio-theme-color-ref-neutral-variant-50);
}
ul {
    list-style: initial;
}

.bold{
    font-weight: bold;
}

.font-roboto{
    font-family: 'Roboto';
}