:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --font-family-sans-serif: Montserrat, Roboto, "Helvetica Neue", sans-serif;
    --mio-theme-display-font-family: var(--font-family-sans-serif), sans-serif;
    --mio-theme-text-font-family: var(--font-family-sans-serif), sans-serif;
    --mio-theme-mono-font-family: var(--font-family-sans-serif), sans-serif;
    --mio-theme-display-xxl-font-family: var(--mio-theme-display-font-family);
    --mio-theme-display-xxl-font-size: 64px;
    --mio-theme-display-xxl-line-height: 72px;
    --mio-theme-display-xxl-font-weight: 500;
    --mio-theme-display-xl-font-family: var(--mio-theme-display-font-family);
    --mio-theme-display-xl-font-size: 45px;
    --mio-theme-display-xl-line-height: 52px;
    --mio-theme-display-xl-font-weight: 500;
    --mio-theme-display-l-font-family: var(--mio-theme-display-font-family);
    --mio-theme-display-l-font-size: 32px;
    --mio-theme-display-l-line-height: 40px;
    --mio-theme-display-l-font-weight: 500;
    --mio-theme-display-m-font-family: var(--mio-theme-display-font-family);
    --mio-theme-display-m-font-size: 24px;
    --mio-theme-display-m-line-height: 32px;
    --mio-theme-display-m-font-weight: 500;
    --mio-theme-headline-l-font-family: var(--mio-theme-display-font-family);
    --mio-theme-headline-l-font-size: 24px;
    --mio-theme-headline-l-line-height: 32px;
    --mio-theme-headline-l-font-weight: 400;
    --mio-theme-title-l-font-family: var(--mio-theme-text-font-family);
    --mio-theme-title-l-font-size: 18px;
    --mio-theme-title-l-line-height: 24px;
    --mio-theme-title-l-font-weight: 500;
    --mio-theme-title-m-font-family: var(--mio-theme-text-font-family);
    --mio-theme-title-m-font-size: 16px;
    --mio-theme-title-m-line-height: 24px;
    --mio-theme-title-m-font-weight: 500;
    --mio-theme-body-l-font-family: var(--mio-theme-text-font-family);
    --mio-theme-body-l-font-size: 16px;
    --mio-theme-body-l-line-height: 24px;
    --mio-theme-body-l-font-weight: 400;
    --mio-theme-body-m-font-family: var(--mio-theme-text-font-family);
    --mio-theme-body-m-font-size: 14px;
    --mio-theme-body-m-line-height: 20px;
    --mio-theme-body-m-font-weight: 400;
    --mio-theme-label-l-font-family: var(--mio-theme-text-font-family);
    --mio-theme-label-l-font-size: 14px;
    --mio-theme-label-l-line-height: 20px;
    --mio-theme-label-l-font-weight: 500;
    --mio-theme-code-font-family: var(--mio-theme-mono-font-family);
    --mio-theme-code-font-size: 16px;
    --mio-theme-code-line-height: 24px;
    --mio-theme-code-font-weight: 400;
    --mio-theme-color-white: #fff;
    --mio-theme-color-on-background: #1f1f1f;
    --mio-theme-color-background: var(--mio-theme-color-white);
    --mio-theme-color-on-surface: #1f1f1f;
    --mio-theme-color-on-surface-variant: #444746;
    --mio-theme-color-on-surface-inverse: #f2f2f2;
    --mio-theme-color-surface-0: var(--mio-theme-color-white);
    --mio-theme-color-surface-1: #f6f8fc;
    --mio-theme-color-surface-2: #f2f6fc;
    --mio-theme-color-surface-3: #eef3fc;
    --mio-theme-color-surface-4: #edf2fc;
    --mio-theme-color-surface-5: ##eaf1fb;
    --mio-theme-color-surface-variant: #e1e3e1;
    --mio-theme-color-surface-inverse: #303030;
    --mio-theme-color-primary: #0b57d0;
    --mio-theme-color-primary-200: #a8c7fa;
    --mio-theme-color-primary-700: #0842a0;
    --mio-theme-color-primary-800: #062e6f;
    --mio-theme-color-on-primary: var(--mio-theme-color-white);
    --mio-theme-color-primary-container: #d3e3fd;
    --mio-theme-color-on-primary-container: #041e49;
    --mio-theme-color-secondary: #00639c;
    --mio-theme-color-on-secondary: var(--mio-theme-color-white);
    --mio-theme-color-secondary-container: #c2e7ff;
    --mio-theme-color-on-secondary-container: #001d35;
    --mio-theme-color-tertiary-container: #c4eed0;
    --mio-theme-color-on-tertiary-container: #072711;
    --mio-theme-color-utility-error: #b3261e;
    --mio-theme-color-utility-on-error: var(--mio-theme-color-white);
    --mio-theme-color-utility-outline: #747775;
    --mio-theme-color-extensions-on-affirmative-container: #131f0d;
    --mio-theme-color-extensions-affirmative-container: #d9e7cb;
    --mio-theme-color-extensions-on-affirmative: var(--mio-theme-color-white);
    --mio-theme-color-extensions-affirmative: #386a20;
    --mio-theme-color-extensions-on-caution-container: #2c1600;
    --mio-theme-color-extensions-caution-container: #feefc3;
    --mio-theme-color-extensions-on-caution: var(--mio-theme-color-white);
    --mio-theme-color-extensions-caution: #89660d;
    --mio-theme-color-extensions-on-error-container: #2c1516;
    --mio-theme-color-extensions-error-container: #ffdad9;
    --mio-theme-color-extensions-on-error: var(--mio-theme-color-white);
    --mio-theme-color-extensions-error: #9c4146;
    --mio-theme-color-ref-secondary-200: #7fcfff;
    --mio-theme-color-ref-secondary-300: #5ab3f0;
    --mio-theme-color-ref-neutral-100: #e3e3e3;
    --mio-theme-color-ref-neutral-200: #c7c7c7;
    --mio-theme-color-ref-neutral-variant-50: #eef3fc;
    -webkit-font-smoothing: antialiased;
  }