<div class="main-container">
  <div class="main-container-wrapper">
    <div class="row">
      <div class="col-md-7 d-flex-center" style="background-color: #f2f6fc">
        <div class="row wrapper">
          <div class="col-md-12">
            <div class="title">
              <small style="font-weight: bold;margin-left: 0rem;">THE</small>
              <h1 class="bold" style="font-size: 6rem;">
                <span>CMPNT</span>&nbsp;<span class="background-black-rotate-8">UI/UX</span>
              </h1>
              <small style="font-weight: bold;margin-left: 18rem;">THEME</small>
              <div class="description mt-5">
                <span class="d-block bold-underline">
                  Represents the most important action on a screen
                </span>
                <span class="d-block mt-3 font-roboto">
                  Set of <span class="background-text-blue">open source</span> components for 
                  <span>
                    <img class="docs-angular-logo" src="/assets/img/angular-white-transparent.svg">
                    <a href="https://material.angular.io/" target="blank" class="background-text-red">Material</a>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <button mat-flat-button color="primary">Browse</button>
          </div>
        </div>
      </div>
      <div class="col-md-5" style="background-color: #c2e7ff">
        <div class="row">
          <div style="display: block;position: relative;">
            <div class="col-m-6">
              <span style="top: 4.5rem;background-color: #ffefc2;font-size: .65rem;line-height: .65rem;font-weight: 500;position: absolute;
              padding: 0.65rem;transform: rotate(8deg);left: 4rem;">Angular Material <span style="font-weight: bold;color: #3f51b5;">v.11-12-13</span></span>
            </div>
            <div class="col-m-6">
              <span style="top: 4.5rem;background-color: rgb(236, 7, 158);font-size: .65rem;line-height: .65rem;font-weight: 800;position: absolute;
              padding: 0.65rem;transform: rotate(345deg);right: 4rem;color: white;">TRANSLOCO</span>
            </div>
          </div>
        </div>
        <div class="info">
          Made with ❤️, a lot of ☕💩 and 🍀 of 🔮 © 2021 All rights reserved.
        </div>
      </div>
    </div>
  </div>
</div>
