.main-container
    display: flex
    flex-direction: column
    min-height: 100vh
    .main-container-wrapper
        display: flex
        flex-grow: 1
        justify-content: center
        width: 100%

.wrapper
    display: flex
    align-items: center
    max-width: 1024px
    margin: 0 auto

.description
  font-size: 1.5rem
  line-height: 32px

.d-flex-center
    justify-content: center
    display: flex
    align-content: center
    align-items: center