<div class="main-container">
  <div class="main-container-wrapper">
    <div class="row">
      <div class="col-md-7 d-flex-center" style="background-color: #c2e7ff">
        <div class="row wrapper">
          <div class="col-md-12">
            <div class="title">
              <small style="font-weight: bold; margin-left: 0rem; z-index: 2;">THE</small>
              <h1 class="bold" style="font-size: 9rem; z-index: 2;">
                <span>CMPNT</span>&nbsp;<span
                  class="background-black-rotate-8 d-sm-none d-md-block"
                  >UI/UX</span
                >
              </h1>
              <small style="font-weight: bold; margin-left: 18rem; z-index: 2;position: relative;">THEME</small>
              <div class="description mt-5">
                <span class="d-block mt-3" style="line-height: 4rem;font-weight: 600;">
                  Set of
                  <span class="background-text-blue">Open Source</span>
                  components 
                  <br>for
                  <a
                      href="https://material.angular.io/"
                      target="blank"
                      class="background-text-red"
                      >Angular Material</a
                    >
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <button style="position: absolute;bottom: 8rem;" mat-flat-button color="primary" (click)="clickBrowser()">Browse</button>
          </div>
          <div class="info">
            Made with ❤️, a lot of ☕💩 and 🍀 of 🔮 © 2021 All rights reserved.
          </div>
        </div>
      </div>
      <div class="col-md-5" style="background-color: #c2e7ff;padding: 0;">
        <div class="background">
        </div>
      </div>
    </div>
  </div>
</div>
