<div class="main-container">
  <div class="main-container-wrapper">
    <div class="row">
      <div class="col-md-7 d-flex-center" style="background-color: #f2f6fc">
        <div class="row wrapper">
          <div class="col-md-12">
            <div class="title">
              <h1>CMPNT UI/UX</h1>
              <div class="description mt-4">
                <span class="d-block">
                  Represents the most important action on a screen. 
                </span>
                <span class="d-block">
                  Set of open source components for Angular.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <button mat-stroked-button color="primary">Browse</button>
          </div>
        </div>
      </div>
      <div class="col-md-5" style="background-color: #c2e7ff"></div>
    </div>
  </div>
</div>
